:root {
  --very-week-color: #d1364e;
  --week-color: #ff3f46;
  --medium-color: #fe6f35;
  --good-color: #fcae1e;
  --strong-color: #9dce5b;
  --very-strong-color: #3ded97;
  --unbelievable-color: #00b4d8;
  --tab-background: rgba(255, 255, 255, 0.9);
  --container-padding: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: clamp(92px, 1vw, 96px) 0;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.85);
}

body.very-week {
  background-color: var(--very-week-color);
}
body.week {
  background-color: var(--week-color);
}
body.medium {
  background-color: var(--medium-color);
}
body.good {
  background-color: var(--good-color);
}
body.strong {
  background-color: var(--strong-color);
}
body.very-strong {
  background-color: var(--very-strong-color);
}
body.unbelievable {
  background-color: var(--unbelievable-color);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: calc(768px + var(--container-padding));
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(32px, 4vw, 56px);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
.intro-paragraph {
  font-size: clamp(16px, 3vw, 28px);
  margin: 16px 0 clamp(40px, 4vw, 64px);
  font-family: 'Roboto Mono', monospace;
  position: relative;
  max-width: 660px;
}
.intro-paragraph::after {
  position: absolute;
  content: '';
  width: clamp(1px, 1vw, 4px);
  height: clamp(15px, 4vw, 28px);
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 3px;
  animation: typing 800ms infinite;
}

@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.85);
  }
  50% {
    background-color: transparent;
  }
}

.password-output {
  border-radius: 2px;
  position: relative;
  padding: clamp(12px, 1vw, 20px) clamp(92px, 1vw, 96px) clamp(12px, 1vw, 20px)
    clamp(14px, 2vw, 32px);
  background-color: #fff;
  box-shadow: rgb(0, 0, 0) -1px 4px 10px -1px;
  margin: 0 auto;
}

#output {
  width: 100%;
  display: flex;
  align-items: center;
  line-break: normal;
  word-break: break-all;
  font-size: clamp(12px, 2vw, 20px);
  letter-spacing: clamp(1px, 1vw, 3px);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.buttons-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.show-copied-pop-up::after,
.show-copied-pop-up::before {
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.show-copied-pop-up::before {
  content: 'Copied';
  width: fit-content;
  padding: 5px 10px;
  bottom: calc(100% + 13px);
  right: 0;
  transform: translateX(20px);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #000000;
}

.show-copied-pop-up::after {
  content: '';
  width: 10px;
  height: 10px;
  bottom: calc(100% + 4px);
  right: 6px;
  transform: rotate(45deg) translateX(-50%);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.password-icon {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  background-size: contain;
  opacity: 0.3;
}

.password-icon:hover {
  transform: scale(1.05);
  opacity: 1;
}

.regenerate-password {
  background-image: url('./images/regenerate.png');
}

.copy-password {
  background-image: url('./images/copy.png');
}

.customize-password {
  margin-top: clamp(40px, 4vw, 64px);
  font-family: 'Sarabun', sans-serif;
  min-width: 299px;
}

.tab {
  display: none;
}

.tab + label {
  font-size: clamp(16px, 1.5vw, 20px);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  opacity: 0.6;
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
}

.tab:checked + label {
  background-color: var(--tab-background);
  border-bottom: 0;
  opacity: 1;
  border-radius: clamp(12px, 1vw, 16px) clamp(12px, 1vw, 16px) 0 0;
}

.tab-content {
  padding: clamp(80px, 8vw, 96px) clamp(14px, 2vw, 32px) clamp(36px, 5vw, 72px);
  background-color: var(--tab-background);
  border-radius: 0 0 clamp(12px, 1vw, 16px) clamp(12px, 1vw, 16px);
}

#password-tab:checked ~ .tab-content .passphrase-tab-content {
  display: none;
}

#passphrase-tab:checked ~ .tab-content .password-tab-content {
  display: none;
}

.tab-pass-content {
  width: fit-content;
  margin: 0 auto;
  column-gap: 26px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.tab-pass-content input {
  display: none;
}

.checkbox + label {
  cursor: pointer;
  position: relative;
  padding-left: 26px;
}

.checkbox + label::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  box-shadow: rgb(184, 185, 184) 1px 1px 3px 0px;
  border: 1px solid #0000005b;
}

.checkbox:checked + label::after {
  background-image: url('./images/checked.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.password-length-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto 32px;
}

.decrement-length,
.increment-length {
  width: 32px;
  height: 32px;
  background: #fff;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgb(184, 185, 184) 1px 1px 3px 0px;
  border: 1px solid #0000005b;
  position: absolute;
}

.decrement-length {
  left: -40px;
}

.increment-length {
  right: -40px;
}

.password-length {
  width: 200px;
}

.show-password-length-wrapper {
  position: relative;
  bottom: 10px;
  margin: 0 auto;
  width: calc(100% - 20px);
}

.show-password-length {
  position: absolute;
  bottom: 24px;
  transform: translateX(-50%);
  padding: 4px 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border: 1px solid #d0d1d2;
  background: #fff;
}

.show-password-length::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: calc(100% - 1px);
  left: calc(50% - 1px);
  background: #fff;
  transform: rotate(45deg) translateX(-50%);
  border-right: 1px solid #d0d1d2;
  border-bottom: 1px solid #d0d1d2;
}
