:root {
  --very-week-color: #d1364e;
  --week-color: #ff3f46;
  --medium-color: #fe6f35;
  --good-color: #fcae1e;
  --strong-color: #9dce5b;
  --very-strong-color: #3ded97;
  --unbelievable-color: #00b4d8;
  --tab-background: rgba(255, 255, 255, 0.9);
  --container-padding: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: clamp(48px, 1vw, 32px) var(--container-padding) 0;
  color: rgba(0, 0, 0, 0.85);
  max-width: calc(640px + var(--container-padding));
  margin: 0 auto;
}

header {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

header img {
  width: 112px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 48px 0;
}

main > div {
  margin: auto;
}

h1 {
  font-size: 32px;
  font-family: 'Ubuntu', sans-serif;
}

.output-wrapper {
  background-color: white;
  padding: 16px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(15, 23, 42, 0.9);
  display: flex;
  gap: 16px;
  align-items: center;
}

.output-wrapper.very-week {
  border: 3px solid var(--very-week-color);
  background-color: rgb(from var(--very-week-color) r g b / 0.1);
}

.output-wrapper.week {
  border: 3px solid var(--week-color);
  background-color: rgb(from var(--week-color) r g b / 0.1);
}

.output-wrapper.medium {
  border: 3px solid var(--medium-color);
  background-color: rgb(from var(--medium-color) r g b / 0.1);
}

.output-wrapper.good {
  border: 3px solid var(--good-color);
  background-color: rgb(from var(--good-color) r g b / 0.1);
}

.output-wrapper.strong {
  border: 3px solid var(--strong-color);
  background-color: rgb(from var(--strong-color) r g b / 0.1);
}

.output-wrapper.very-strong {
  border: 3px solid var(--very-strong-color);
  background-color: rgb(from var(--very-strong-color) r g b / 0.1);
}

.output-wrapper.unbelievable {
  border: 3px solid var(--unbelievable-color);
  background-color: rgb(from var(--unbelievable-color) r g b / 0.1);
}

output {
  width: 100%;
  display: flex;
  align-items: center;
  line-break: normal;
  word-break: break-all;
  font-size: 20px;
}

menu {
  display: flex;
  gap: 16px;
}

menu button {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  background-size: contain;
  opacity: 0.5;
}

.regenerate-password {
  background-image: url('./images/regenerate.png');
}

.copy-password {
  background-image: url('./images/copy.png');
}

.input-wrapper {
  display: flex;
  margin: 48px auto;
  width: fit-content;
}

@media (max-width: 460px) {
  .input-wrapper {
    flex-direction: column;
  }
}

#tabs {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  border: none;
  display: flex;
  flex-direction: column;
}

#tabs input {
  display: none;
}

#tabs label {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  text-align: center;
}

@media (max-width: 460px) {
  #tabs {
    flex-direction: row;
  }
  #tabs label {
    padding: 16px 12px;
    height: fit-content;
    flex: 1;
  }
}

#tabs input:checked + label {
  background: lightgray;
}

.inputs-wrapper {
  background-color: lightgray;
  padding: 12px;
}

#passwordLengthRangeWrapper {
  width: fit-content;
  margin: 0 auto 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

#passwordLengthRange {
  border: 0;
  margin: 0 auto;
  display: flex;
  gap: 12px;
  align-items: center;
}

#passwordLengthInput {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  cursor: pointer;
  max-width: 32px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  padding-right: 0;
  text-align: center;
}

input[type='number']:focus {
  outline: none;
}

#incrementPasswordLength,
#decrementPasswordLength {
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  cursor: pointer;
  box-shadow: rgb(184, 185, 184) 1px 1px 3px 0px;
  border: 1px solid #0000005b;
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2px;
  background: rgba(0, 0, 0, 0.25);
}

#inputs label {
  padding: 4px 2px;
  display: block;
  flex: 1 1 calc(50% - 2px);
  background: lightgray;
}

inputs label input {
  display: none;
}

inputs + label {
  cursor: pointer;
  position: relative;
  padding-left: 26px;
}

inputs + label::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  box-shadow: rgb(184, 185, 184) 1px 1px 3px 0px;
  border: 1px solid #0000005b;
}

.checkbox:checked + label::after {
  background-image: url('./images/checked.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#copyNotification {
  position: fixed;
  bottom: 100px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  transform: translateX(-50%);
}

footer {
  padding: 16px var(--container-padding);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

footer a {
  text-decoration: none;
  color: var(--unbelievable-color);
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
